@import "variables";

// --- --- GLOBAL --- --- //

a{
    color: inherit;
    text-decoration: none;
}

[aria-current] {
    background-color: $primary !important;
    border-color: $primary !important;
}
// - Buttons - //

.btn-primary{
    background-color: $primary;
    border-color: $primary;
}

// - Forms - //
.iconForm-sucsess{
    color: green;
}
.iconForm-error, .error-message{
    color: red;
}

// - Headers - //

.header-1, .header-2, .header-3 {
    color: map-get($colors, light-primary);
  }
  .header-1{
      font-size: 2rem;
      padding: 2em 0;
  }
  .header-2 {
      font-size: 1.75rem;
      padding: 1.5em 0;
  }
  .header-3 {
      font-size: 1.5rem;
      padding: 1em 0;
  }

// Variable mixins //
@mixin HoverObject {
    &:hover {
        opacity: map-get($hoverObject, opacity);
        transition: map-get($hoverObject, transition);
    }
};  
@mixin hoverText {
    &:hover {
      background-color: map-get($hoverText, background-color);
      border-radius: map-get($hoverText, border-radius);
      transition: map-get($hoverText, transition);
    }
};

@mixin borderRadius-sm{
    border-radius: map-get($borderRadius-sm, border-radius);
};
@mixin borderRadius-m{
    border-radius: map-get($borderRadius-m, border-radius);
};
@mixin borderRadius-lg{
    border-radius: map-get($borderRadius-lg, border-radius);
};

// --- HEADER --- //
header{
    background-color: $primary;
    position: fixed;
    top: 0;
    z-index: 100;
}

.navbar-logo{
    width: 3em;
    height: 3em;
    &:hover{
        @include HoverObject;
    }
}

.searchbar_header{

}

.searchbar-btn_header{
    width: 3em;
    height: 3em;
    border: none;
    border-radius: 50%;
    background-color: white;
    &:hover{
        @include HoverObject;
    }
}

.searchbar_header-input-container{
    position: fixed;
    top: 4em;
    right: 0;
    width: 100%;
    padding: 1em;
    border-radius: 0 0 1em 1em;
    background-color: map-get($colors , light-primary );

    @media (min-width: 768px) {
        position: static;
        width: auto;
        padding: 0;
        background-color: transparent;
      }
}

.searchbar-input_header{

}

.nav-toggler_navbar{
    all: initial;
    margin-left: auto;
    & img{
        width: 3em;
        height: 3em;
        border-radius: 50%;
    }
    &:hover{
        @include HoverObject;
    }
}

.custom-nav_header{
    position: fixed;
    top: 4em;
    right: 0;
    width: 100%;
    padding: 1em;
    border-radius: 0 0 1em 1em;
    background-color: white;
    
    @media (min-width: 576px) {
        width: 20em;
        right: 1em;
        border-radius: 1em;
    }

    & a{
        color: map-get($colors , dark-primary );
    }
}

.nav-item_header{
    display: flex;
    align-items: center;
    padding: 0.5em;
    & a{
        @include borderRadius-sm;
        color: map-get($colors, text-dark);
        font-size: 1.25rem;
    }
    & img{
        width: 3em;
        height: 3em;
        border-radius: 50%;
    }
    & i{
        padding-right: 0.5em;
    }
    &:hover{
        @include hoverText;
    }
}


// --- MAIN --- //

main{
    margin-top: 5em;
}

// --- FOOTER --- //
footer{
    background-color: map-get($colors, dark-secondary);
    min-width: 100%;
} 
.footer-items{
    color: map-get($colors, text-light);
}

.footer-items a {
    
}
.footer-items a:hover {
    text-decoration: underline;
}


// --- --- Page layout containers --- --- //

.second-container {
    background-color:map-get($colors, light-secondary)
}


// - Quick links container - //

.ql-theme{
    display: flex;
    align-items: baseline;
    > *{
        font-size: 1.25rem;
    }
    }

// - Friends container - //

.friend-list img, .group-list img{
width: 2.5em;
height: 2.5em;
border-radius: 50%;
}
.status_online{
    color: green;
}
.status_offline{
    color: lightgray;
}

.group-conversation-title{
    font-size: 1.25rem;
}

// - Post cards - //
.post-title{
    font-size: 1.375rem;
} 

// --- --- Autentication INDEX --- --- //

.auth-main {
    $color-start: $primary;
    $color-end: $secondary;
    background: linear-gradient($color-start, $color-end);
    min-height: 100vh;
  }

.auth-logo-container, .auth-form-container{
    max-width: 40em;
}

.auth-logo-container p{
    color: white;
    font-size: 1.25rem;
}

.auth-logo{
    max-width: 15em;
}

// --- --- Feed INDEX --- --- //

.hero-title{
    font-size: 1.75rem;
}

.card-top-section img, .card-comment-section img{
    width: 2.5em;
    height: 2.5em;
    border-radius: 50%;
}
.card-top-text span:last-child {
font-size: 0.875rem;
}

.card-comment p{
    border: 1px solid lightgray;
    border-radius: 0.25em;
    background-color: map-get($colors , light-secondary );
}

// --- --- Profile INDEX --- --- //

.profile-name{
    font-size: 2rem;
}

.profile-img{
    max-width: 12.5em;
}